* {
  box-sizing: border-box; 
}
body {
  background-color:beige;
}
.content {
  background-color: bisque;
  border-radius: 16px;
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 32px auto;
  width: 600px;
}
.title, .recipe{
  text-align: center;
}
.recipe{
  margin: 16px;
  display: inline-block;
}
.recipebox{
  padding-left: 0px;
}
.images{
  border-radius: 16px;
  border: 4px solid black;
  display: block;
  width: 250px;
  height: auto;
  margin: auto;
}

